# Customer Segmentation

Customer Segmentation - Group Project
Customer Segmentation
Problem Statement:  XYZ bank wants to roll out Christmas offers to their customers. But Bank does not want to roll out same offer to all customers  instead they want to roll out personalized offer to particular set of customers. If they manually start understanding the category of customer then this will be not efficient and also they will not be able to uncover the hidden pattern in the data ( pattern which group certain kind of customer in one category). Bank approached ABC analytics company to solve their problem. Bank also shared information with ABC analytics that they don't want more than 5 group as this will be inefficient for their campaign.

ML Problem: ABC analytics proposed customer segmentation approach to Bank.

ABC analytics assigned this talk to their analytics team and instructed their team to come up with the approach and feature which group similar behavior customer in one category and others in different category.

Note: Please read problem statement carefully and propose the approach which should be as per the customer requirement.

Task:

1. Business Understanding

2. Data Understanding

3. EDA

4. Feature Engineering

4. Model Building

5. Model Evaluation

6. Presentation (Recommendation slide is must)

7. Document the challenges

|**Column Name**|Description|
| --- | --- |
|**fecha_dato**|The table is partitioned for this column|
|**cust_code**|	Customer code|
|**emp_index**|Employee index: A active, B ex employed, F filial, N not employee, P pasive|
|**cust_residence**|Customer's Country residence|
|**'cust_gender**|Customer's sex|
|**age**|Age|
|**first_holder_date**|The date in which the customer became as the first holder of a contract in the bank|
|**new_cust_index**|New customer Index. 1 if the customer registered in the last 6 months|
|**cust_seniority**|Customer seniority (in months)|
|**indrel**|1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)|
|**last_date_primary_cust**|Last date as primary customer (if he isn't at the end of the month)|
|**cust_type**|Customer type at the beginning of the month: 1 (First/Primary customer), 2 (co-owner), P (Potential), 3 (former primary), 4(former co-owner)|
|**cust_rel_time**|Customer relation type at the beginning of the month: A (active), I (inactive), P (former customer), R (Potential)|
|**cust_res_index**|Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)|
|**'is_foreign**|Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)|
|**cust_spouse_index**|Spouse index. 1 if the customer is spouse of an employee|
|**channel_to_join**|channel used by the customer to join|
|**deceased_index**|Deceased index. N/S|
|**addres_type**|Addres type. 1, primary address|
|**cod_prov**|Province code (customer's address)|
|**name_province**|Province name|
|**activity_index**|Activity index (1, active customer; 0, inactive customer)|
|**household_income**|Gross income of the household|
|**saving_acc**|Saving Account|
|**guarantees**|Guarantees|
|**current_acc**|Current Accounts|
|**derivada_acc**|Derivada Account|
|**payroll_acc**|Payroll Account|
|**junior_acc**|Junior Account|
|**mass_particular_acc**|MÃ¡s particular Account|
|**particular_acc**|particular Account|
|**particular_plus_acc**|particular Plus Account|
|**short_term_deposit**|Short-term deposits|
|**long_term_deposit**|Medium-term deposits|
|**ind_dela_fin_ult1**|Long-term deposits|
|**e_account**|e-account|
|**funds**|Funds|
|**mortgage**|Mortgage|
|**pensions1**|Pensions|
|**loans**|Loans|
|**taxes**|Taxes|
|**credit_card**|Credit Card|
|**securities**|Securities|
|**home_account**|Home Account|
|**payroll**|Payroll|
|**pensions2**|Pensions|
|**direct_debit**|Direct Debit|

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.io as pio
template = 'simple_white'

import seaborn as sns
sns.set()

from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

import warnings
warnings.filterwarnings('ignore')

plt.rcParams['axes.labelsize'] = 15
plt.rcParams['axes.titlesize'] = 20

seed = 42

In [2]:
df = pd.read_csv("C:/Users/joean/Desktop/Data Science/Personal Projects/cust_seg.csv")
df

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 48 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1000000 non-null  int64
 1   fecha_dato             1000000 non-null  object
 2   ncodpers               1000000 non-null  int64
 3   ind_empleado           989218 non-null   object
 4   pais_residencia        989218 non-null   object
 5   sexo                   989214 non-null   object
 6   age                    1000000 non-null  object
 7   fecha_alta             989218 non-null   object
 8   ind_nuevo              989218 non-null   float64
 9   antiguedad             1000000 non-null  object
 10  indrel                 989218 non-null   float64
 11  ult_fec_cli_1t         1101 non-null     object
 12  indrel_1mes            989218 non-null   float64
 13  tiprel_1mes            989218 non-null   object
 14  indresi                989218 non-null   object
 15  indext                 989218 non-null   object
 16  conyuemp               178 non-null      object
 17  canal_entrada          989139 non-null   object
 18  indfall                989218 non-null   object
 19  tipodom                989218 non-null   float64
 20  cod_prov               982266 non-null   float64
 21  nomprov                982266 non-null   object
 22  ind_actividad_cliente  989218 non-null   float64
 23  renta                  824817 non-null   float64
 24  ind_ahor_fin_ult1      1000000 non-null  int64
 25  ind_aval_fin_ult1      1000000 non-null  int64
 26  ind_cco_fin_ult1       1000000 non-null  int64
 27  ind_cder_fin_ult1      1000000 non-null  int64
 28  ind_cno_fin_ult1       1000000 non-null  int64
 29  ind_ctju_fin_ult1      1000000 non-null  int64
 30  ind_ctma_fin_ult1      1000000 non-null  int64
 31  ind_ctop_fin_ult1      1000000 non-null  int64
 32  ind_ctpp_fin_ult1      1000000 non-null  int64
 33  ind_deco_fin_ult1      1000000 non-null  int64
 34  ind_deme_fin_ult1      1000000 non-null  int64
 35  ind_dela_fin_ult1      1000000 non-null  int64
 36  ind_ecue_fin_ult1      1000000 non-null  int64
 37  ind_fond_fin_ult1      1000000 non-null  int64
 38  ind_hip_fin_ult1       1000000 non-null  int64
 39  ind_plan_fin_ult1      1000000 non-null  int64
 40  ind_pres_fin_ult1      1000000 non-null  int64
 41  ind_reca_fin_ult1      1000000 non-null  int64
 42  ind_tjcr_fin_ult1      1000000 non-null  int64
 43  ind_valo_fin_ult1      1000000 non-null  int64
 44  ind_viv_fin_ult1       1000000 non-null  int64
 45  ind_nomina_ult1        994598 non-null   float64
 46  ind_nom_pens_ult1      994598 non-null   float64
 47  ind_recibo_ult1        1000000 non-null  int64
dtypes: float64(9), int64(24), object(15)
memory usage: 366.2+ MB

In [4]:
df.columns

Index(['Unnamed: 0', 'fecha_dato', 'ncodpers', 'ind_empleado',
       'pais_residencia', 'sexo', 'age', 'fecha_alta', 'ind_nuevo',
       'antiguedad', 'indrel', 'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes',
       'indresi', 'indext', 'conyuemp', 'canal_entrada', 'indfall', 'tipodom',
       'cod_prov', 'nomprov', 'ind_actividad_cliente', 'renta',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [5]:
df.rename(columns = {
    'fecha_dato':'date', 
    'ncodpers':'cust_code', 
    'ind_empleado':'emp_index',
    'pais_residencia':'cust_residence', 
    'indext':'is_foreign', 
    'sexo':'cust_gender', 
    'fecha_alta':'first_holder_date',
    'ind_nuevo':'new_cust_index', 
    'antiguedad':'cust_seniority', 
    'ult_fec_cli_1t':'last_date_primary_cust', 
    'indrel_1mes':'cust_type', 
    'tiprel_1mes':'cust_rel_time', 
    'indresi':'cust_res_index',
    'conyuemp':'cust_spouse_index',
    'canal_entrada':'channel_to_join', 
    'nomprov':'name_province',
    'ind_actividad_cliente':'activity_index' ,
    'renta':'household_income',
    'tipodom':'addres_type',
    'indfall':'deceased_index',
    'ind_ahor_fin_ult1':'saving_acc', 
    'ind_aval_fin_ult1': 'guarantees', 
    'ind_cder_fin_ult1':'derivada_acc', 
    'ind_cno_fin_ult1':'payroll_acc',
    'ind_ctju_fin_ult1':'junior_acc',
    'ind_ctma_fin_ult1':'mass_particular_acc', 
    'ind_ctop_fin_ult1':'particular_acc',
    'ind_ctpp_fin_ult1':'particular_plus_acc', 
    'ind_deco_fin_ult1':'short_term_deposit', 
    'ind_deme_fin_ult1':'medium_term_deposits', 
    'ind_dela_fin_ult1':'long_term_deposits',
    'ind_ecue_fin_ult1':'e_account', 
    'ind_fond_fin_ult1':'funds', 
    'ind_hip_fin_ult1':'mortgage', 
    'ind_plan_fin_ult1':'pensions1', 
    'ind_pres_fin_ult1':'loans', 
    'ind_reca_fin_ult1':'taxes', 
    'ind_tjcr_fin_ult1':'credit_card', 
    'ind_valo_fin_ult1':'securities', 
    'ind_viv_fin_ult1':'home_account',
    'ind_cco_fin_ult1':'current_acc', 
    'ind_nomina_ult1':'payroll', 
    'ind_nom_pens_ult1':'pensions2', 
    'ind_recibo_ult1':'direct_debit'
}, inplace = True)

Dropping first two columns as they do not give much information.

In [6]:
df = df.iloc[:,2:]
df.head()

,cust_code,emp_index,cust_residence,cust_gender,age,first_holder_date,new_cust_index,cust_seniority,indrel,last_date_primary_cust,...,mortgage,pensions1,loans,taxes,credit_card,securities,home_account,payroll,pensions2,direct_debit
0,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
2,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
3,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
4,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0

#### Checking for duplicate observations

`cust_code` contains customer codes. Lets check if there are duplicate customer codes

In [7]:
df['cust_code'].value_counts()

281941     2
362212     2
362218     2
362219     2
362220     2
          ..
1310578    1
1310579    1
1310645    1
1310643    1
1183305    1
Name: cust_code, Length: 626159, dtype: int64

There are duplicate customer codes. Since the bank wants to segment unique customers, I will drop observations with duplicate customer codes and keep only the last observation for each duplicated customer code observation.

In [8]:
df = df.drop_duplicates(subset = ['cust_code'], keep = "last").reset_index(drop = True)
print(df.shape)

(626159, 46)

In [9]:
1000000 - 626159

373841

Approximately 370K+ duplicated observation has been removed.

In [10]:
df['cust_code'].value_counts().sum()

626159

Now, all customer codes are unique. I will drop this variable has customer code does not give any information for customer segmentation.

In [11]:
df = df.drop('cust_code', axis = 1)
df.head()

,emp_index,cust_residence,cust_gender,age,first_holder_date,new_cust_index,cust_seniority,indrel,last_date_primary_cust,cust_type,...,mortgage,pensions1,loans,taxes,credit_card,securities,home_account,payroll,pensions2,direct_debit
0,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

#### Checking for missing values

In [12]:
#checking percentage of missing values for every variable.
df.isna().sum()/len(df)*100

emp_index                  1.115531
cust_residence             1.115531
cust_gender                1.115851
age                        0.000000
first_holder_date          1.115531
new_cust_index             1.115531
cust_seniority             0.000000
indrel                     1.115531
last_date_primary_cust    99.876549
cust_type                  1.115531
cust_rel_time              1.115531
cust_res_index             1.115531
is_foreign                 1.115531
cust_spouse_index         99.985786
channel_to_join            1.123676
deceased_index             1.115531
addres_type                1.115531
cod_prov                   1.703561
name_province              1.703561
activity_index             1.115531
household_income          17.841475
saving_acc                 0.000000
guarantees                 0.000000
current_acc                0.000000
derivada_acc               0.000000
payroll_acc                0.000000
junior_acc                 0.000000
mass_particular_acc        0.000000
particular_acc             0.000000
particular_plus_acc        0.000000
short_term_deposit         0.000000
medium_term_deposits       0.000000
long_term_deposits         0.000000
e_account                  0.000000
funds                      0.000000
mortgage                   0.000000
pensions1                  0.000000
loans                      0.000000
taxes                      0.000000
credit_card                0.000000
securities                 0.000000
home_account               0.000000
payroll                    0.574934
pensions2                  0.574934
direct_debit               0.000000
dtype: float64

Deleting variables having percentage of missing values higher than 20%

In [13]:
missing_info = (df.isna().sum()/len(df)*100)

to_drop = missing_info[missing_info.values > 20].index #setting threshold

print(f"columns to drop: {to_drop}")
print()

df = df.drop(to_drop, axis = 1).reset_index(drop = True)
print(df.shape)

columns to drop: Index(['last_date_primary_cust', 'cust_spouse_index'], dtype='object')

(626159, 43)

Checking unique values for each variable

In [14]:
for col in df.columns:
    print(col, ":", df[col].unique())
    print()

emp_index : ['N' nan 'A' 'B' 'F' 'S']

cust_residence : ['ES' nan 'CA' 'CH' 'CL' 'IE' 'AT' 'NL' 'FR' 'GB' 'DE' 'DO' 'BE' 'AR' 'VE'
 'US' 'MX' 'BR' 'IT' 'EC' 'PE' 'CO' 'HN' 'FI' 'SE' 'AL' 'PT' 'MZ' 'CN'
 'TW' 'PL' 'IN' 'CR' 'NI' 'HK' 'AE' 'MA' 'GR' 'PR' 'RO' 'IL' 'RU' 'GT'
 'GA' 'NO' 'SN' 'MR' 'UA' 'BG' 'PY' 'EE' 'SV' 'CZ' 'ET' 'CM' 'SA' 'CI'
 'QA' 'SG' 'BO' 'BZ' 'UY' 'MD' 'BA' 'CF' 'KR' 'LU' 'NG' 'CD' 'ZA' 'AU'
 'KZ' 'CU' 'DK' 'JP' 'SK' 'GM' 'AO' 'HR' 'PK' 'PA' 'MK' 'LY' 'LT' 'TH'
 'GQ' 'GN' 'TR' 'IS' 'KE' 'VN' 'RS' 'AD' 'NZ' 'OM' 'EG' 'LV' 'ML' 'CG'
 'GW' 'HU' 'DZ' 'SL' 'GI' 'KH' 'MM' 'BY' 'PH' 'KW' 'GH' 'TN' 'TG' 'LB'
 'GE']

cust_gender : ['H' 'V' nan]

age : [' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' 31' ' 39' ' 63' ' 33' ' 55' ' 42' ' 58' ' 38' ' 50' ' 30' ' 45' ' 44'
 ' 36' ' 29' ' 60' ' 57' ' 67' ' 47' ' NA' ' 34' ' 48' ' 46' ' 54' ' 84'
 ' 15' ' 12' '  8' '  6' ' 83' ' 40' ' 77' ' 69' ' 52' ' 59' ' 43' ' 10'
 '  9' ' 49' ' 41' ' 51' ' 78' ' 16' ' 11' ' 73' ' 62' ' 66' ' 17' ' 68'
 ' 82' ' 95' ' 96' ' 56' ' 61' ' 79' ' 72' ' 14' ' 19' ' 13' ' 86' ' 64'
 ' 20' ' 89' ' 71' '  7' ' 70' ' 74' ' 21' ' 18' ' 75' '  4' ' 80' ' 81'
 '  5' ' 76' ' 92' ' 93' ' 85' ' 91' ' 87' ' 90' ' 94' ' 99' ' 98' ' 88'
 ' 97' '100' '101' '106' '103' '  3' '  2' '102' '104' '111' '112' '105'
 '107' '110' '113' '108' '109' '115' '116']

first_holder_date : ['2015-01-12' '2012-08-10' nan ... '2013-12-06' '2013-08-04' '2013-09-21']

new_cust_index : [ 0. nan  1.]

cust_seniority : ['      6' '     35' '     34' '     NA' '     33' '     31' '     21'
 '     16' '     27' '      9' '     22' '     13' '     29' '      8'
 '     11' '     10' '     28' '     24' '      7' '     25' '     14'
 '     26' '     12' '     23' '      1' '     18' '      4' '      3'
 '     17' '     32' '     30' '     20' '     15' '     19' '    157'
 '     36' '      5' '     40' '     38' '     37' '     39' '      0'
 '      2' '     47' '     44' '     42' '     46' '     45' '     43'
 '     41' '     57' '     48' '     52' '     49' '     50' '     56'
 '     58' '     51' '     55' '     54' '     53' '     59' '     62'
 '     63' '     60' '     61' '    165' '    164' '    166' '    167'
 '    115' '    163' '    111' '     81' '     64' '    162' '    148'
 '    172' '    174' '    147' '    173' '    169' '    168' '    153'
 '    171' '    170' '    154' '    152' '    155' '    156' '    109'
 '    149' '    151' '    150' '    142' '    137' '    161' '    160'
 '    143' '    158' '    112' '    145' '    159' '    184' '     88'
 '    209' '    186' '    210' '    208' '    207' '    213' '    214'
 '    212' '    201' '    202' '    199' '    206' '    205' '    204'
 '    233' '    235' '    230' '    107' '    231' '    241' '    133'
 '    243' '    237' '    236' '    217' '    219' '    220' '    215'
 '    221' '    216' '    116' '    218' '    225' '    227' '    222'
 '    223' '    138' '    180' '    135' '    182' '    181' '    178'
 '    110' '    179' '    136' '    197' '    183' '    176' '    177'
 '    175' '    194' '    195' '    193' '    192' '    198' '    196'
 '    119' '    189' '    187' '    185' '    190' '    191' '     97'
 '     96' '    100' '    101' '     98' '     85' '     99' '     92'
 '     93' '     90' '     91' '     94' '     95' '     87' '    106'
 '    108' '    102' '    103' '    105' '    104' '     77' '     74'
 '     75' '     76' '     79' '     78' '     65' '     66' '     67'
 '     71' '     68' '     69' '     86' '     84' '     72' '     70'
 '     89' '     80' '     83' '     82' '    134' '    127' '    129'
 '    128' '    130' '    132' '    131' '    146' '    139' '    141'
 '    140' '    114' '    117' '    113' '    124' '    125' '    126'
 '    118' '    123' '    120' '    121' '     73' '    122' '    188'
 '    238' '    144' '    200' '    224' '    229' '    232' '    234'
 '    211' '-999999' '    203' '    226' '    240' '    228' '    239'
 '    246' '    242' '    244' '    245']

indrel : [ 1. nan 99.]

cust_type : [ 1. nan  3.  2.]

cust_rel_time : ['A' 'I' nan 'P']

cust_res_index : ['S' nan 'N']

is_foreign : ['N' 'S' nan]

channel_to_join : ['KHL' 'KHE' 'KHD' 'KFA' 'KFC' 'KAT' nan 'KAZ' 'RED' 'KHC' 'KHK' 'KGN'
 'KHM' 'KHO' 'KDH' 'KEH' 'KAD' 'KBG' 'KGC' 'KHF' 'KFK' 'KHN' 'KHA' 'KAF'
 'KGX' 'KFD' 'KAG' 'KFG' 'KAB' 'KCC' 'KAE' 'KAH' 'KAR' 'KFJ' 'KFL' 'KAI'
 'KFU' 'KAQ' 'KFS' 'KAA' 'KFP' 'KAJ' 'KFN' 'KGV' 'KGY' 'KFF' 'KAP' 'KFV'
 '013' 'K00' 'KAK' 'KAO' 'KFT' 'KDR' 'KCB' 'KEY' '007' 'KAC' 'KDT' 'KAY'
 'KAS' 'KBZ' 'KAW' 'KAL' 'KCI' 'KCH' 'KBB' 'KAM' 'KBH' 'KEJ' 'KEN' 'KCJ'
 'KAN' 'KBM' 'KBU' 'KEZ' 'KDW' 'KDM' 'KCL' 'KBS' 'KEE' 'KBO' 'KCM' 'KEL'
 'KEO' 'KCG' 'KEM' 'KBQ' 'KCQ' 'KDE' 'KFH' 'KED' 'KDG' 'KCN' 'KFB' 'KBF'
 'KFM' 'KFI' 'KAV' '004' 'KEK' 'KDN' 'KBJ' 'KEG' 'KCU' 'KBR' 'KCR' 'KDS'
 'KGW' 'KCD' 'KDF' 'KBL' 'KFE' 'KFR' 'KGU' 'KDI' 'KAU' 'KEQ' 'KCF' 'KDO'
 'KES' 'KDC' 'KBV' 'KBW' 'KCA' 'KEW' 'KDP' 'KDQ' 'KEB' 'KDY' 'KDV' 'KEV'
 'KEI' 'KEU' 'KDU' 'KCO' 'KCK' 'KEA' 'KBY' 'KCE' 'KCP' 'KEF' 'KDD' 'KDX'
 'KBE' 'KBN' 'KCX' 'KDA' 'KBP' 'KCV' 'KBD' 'KCT' 'KBX' 'KDZ' 'KDB' 'KCS'
 'KEC']

deceased_index : ['N' nan 'S']

addres_type : [ 1. nan]

cod_prov : [29. 13. 50. 45. 24. 20. 10. 17. 49.  8. 37.  9. 22. 31.  5. 40. 27. 25.
 28.  3. 42. 41. 39.  7. 47. 36. 46. 44. 15. 32. 23. 16. 48. 12. 26.  2.
  6. 30. 11. nan  4. 19. 34. 35. 14. 21. 18. 33. 38. 52. 43.  1. 51.]

name_province : ['MALAGA' 'CIUDAD REAL' 'ZARAGOZA' 'TOLEDO' 'LEON' 'GIPUZKOA' 'CACERES'
 'GIRONA' 'ZAMORA' 'BARCELONA' 'SALAMANCA' 'BURGOS' 'HUESCA' 'NAVARRA'
 'AVILA' 'SEGOVIA' 'LUGO' 'LERIDA' 'MADRID' 'ALICANTE' 'SORIA' 'SEVILLA'
 'CANTABRIA' 'BALEARS, ILLES' 'VALLADOLID' 'PONTEVEDRA' 'VALENCIA'
 'TERUEL' 'CORUÃA, A' 'OURENSE' 'JAEN' 'CUENCA' 'BIZKAIA' 'CASTELLON'
 'RIOJA, LA' 'ALBACETE' 'BADAJOZ' 'MURCIA' 'CADIZ' nan 'ALMERIA'
 'GUADALAJARA' 'PALENCIA' 'PALMAS, LAS' 'CORDOBA' 'HUELVA' 'GRANADA'
 'ASTURIAS' 'SANTA CRUZ DE TENERIFE' 'MELILLA' 'TARRAGONA' 'ALAVA' 'CEUTA']

activity_index : [ 1.  0. nan]

household_income : [ 87218.1   35548.74 122179.11 ... 103533.03  80634.87  57818.46]

saving_acc : [0 1]

guarantees : [0 1]

current_acc : [1 0]

derivada_acc : [0 1]

payroll_acc : [0 1]

junior_acc : [0 1]

mass_particular_acc : [0 1]

particular_acc : [0 1]

particular_plus_acc : [0 1]

short_term_deposit : [0 1]

medium_term_deposits : [0 1]

long_term_deposits : [0 1]

e_account : [0 1]

funds : [0 1]

mortgage : [0 1]

pensions1 : [0 1]

loans : [0 1]

taxes : [0 1]

credit_card : [0 1]

securities : [0 1]

home_account : [0 1]

payroll : [ 0.  1. nan]

pensions2 : [ 0.  1. nan]

direct_debit : [0 1]

Lets analyze each variable. First I will begin with `emp_index` and filter those observations with missing values.

#### `emp_index`: Employee index

In [15]:
df[df['emp_index'].isna()]

,emp_index,cust_residence,cust_gender,age,first_holder_date,new_cust_index,cust_seniority,indrel,cust_type,cust_rel_time,...,mortgage,pensions1,loans,taxes,credit_card,securities,home_account,payroll,pensions2,direct_debit
261,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1029,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1063,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1154,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1779,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624939,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
625270,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
625274,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
625736,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
625883,NaN,NaN,NaN,NA,NaN,NaN,NA,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0

In [16]:
df[df['emp_index'].isna()].isna().sum()

emp_index               6985
cust_residence          6985
cust_gender             6985
age                        0
first_holder_date       6985
new_cust_index          6985
cust_seniority             0
indrel                  6985
cust_type               6985
cust_rel_time           6985
cust_res_index          6985
is_foreign              6985
channel_to_join         6985
deceased_index          6985
addres_type             6985
cod_prov                6985
name_province           6985
activity_index          6985
household_income        6985
saving_acc                 0
guarantees                 0
current_acc                0
derivada_acc               0
payroll_acc                0
junior_acc                 0
mass_particular_acc        0
particular_acc             0
particular_plus_acc        0
short_term_deposit         0
medium_term_deposits       0
long_term_deposits         0
e_account                  0
funds                      0
mortgage                   0
pensions1                  0
loans                      0
taxes                      0
credit_card                0
securities                 0
home_account               0
payroll                 3527
pensions2               3527
direct_debit               0
dtype: int64

There are about 6985 observation having missing values across multiple columns. It would be impossible to impute these observations with meaning full information as other columns belonging to same observation has missing values too. Therefore, I will drop these observations.

In [17]:
to_drop = df[df['emp_index'].isna()].index

df = df.drop(index = to_drop, axis = 0).reset_index(drop = True)
print(df.shape)

(619174, 43)

In [ ]:
sns.countplot(df['emp_index']);

In [ ]:
print(df['emp_index'].value_counts())
print()
print(df['emp_index'].value_counts(normalize = True)*100)

Employee index: 
* A: active, 
* B: ex employed, 
* F: filial, 
* N: not employee, 
* P: pasive

Almost all customers are active. Only a small negligible portion of customers belong to other categories.

#### `cust_residence`: Customer's Country residence

In [ ]:
any(df['cust_residence'].isna()) # No Missing values

In [ ]:
print(df['cust_residence'].value_counts())
print()
df['cust_residence'].value_counts(normalize = True)*100

99.4% of customers are from spain.

#### `'cust_gender`: Customer's Gender

In [ ]:
df['cust_gender'].isna().sum()

Imputing `'cust_gender` variable with the mode.

In [ ]:
df['cust_gender'] = df['cust_gender'].fillna(df['cust_gender'].mode()[0])

In [ ]:
sns.countplot(df['cust_gender']);

'V' category is higher in proportion compared to 'H'

#### `age`: Age

In [ ]:
df['age']

This variable is supposed to be numerical, but currently it is of object data type. In order to convert this variable to numerical, the 'NA' value must be dealt with first.

In [ ]:
df.query('age == " NA"')

Luckily, when dealing with missing values in `emp_index`, the NA values in `age` has also been removed.

In [ ]:
#Converting age to numerical
df['age'] = df['age'].str.strip().astype('int64')

In [ ]:
fig, ax = plt.subplots(1,2, figsize = (13,5));

sns.histplot(df['age'], kde = True, ax = ax[0]);
sns.boxplot(x = 'age', data = df, ax = ax[1]);

plt.suptitle("Age Distribution of Customers");

Age distribution is Bi-modal, where majority of customers are young, between the age of 20-30, followed by older customers, between the age of 40 and 50. There seems to outliers in both sides of the distribution.

In [ ]:
df['age'].describe()

There are customers as young as 2 years and customers as old as 116 years!

I will assign ages below 18 as 18. For ages older than 85, I will assign 85.

This method will take care of outliers on both sides of the distribution.

In [ ]:
#Ages where below 18 will be assigned as 24, and ages above 85 will be assigned as 45.
# df['age'] = np.where(df['age'] < 20, 18, (np.where(df['age'] > 85, 85, df['age'])))

In [ ]:
# fig, ax = plt.subplots(1,2, figsize = (13,5));

# sns.histplot(df['age'], kde = True, ax = ax[0]);
# sns.boxplot(x = 'age', data = df, ax = ax[1]);

# plt.suptitle("Age Distribution of Customers");

There are no more outliers in the age distribution.

#### `first_holder_date`: the date in which the customer became as the first holder of a contract in the bank

In [ ]:
print(any(df['first_holder_date'].isna())) #No missing value
print()
df['first_holder_date']

Converting to Datetime format

In [ ]:
df['first_holder_date'] = pd.to_datetime(df['first_holder_date'])

In [ ]:
df['first_holder_date_year'] = df.first_holder_date.dt.year #Extracting years
df['first_holder_date_month'] = df.first_holder_date.dt.month #extracting months
df['first_holder_date_day'] = df.first_holder_date.dt.weekday #extracting day of week

In [ ]:
temp_df = df.groupby('first_holder_date').size().reset_index().rename(columns = {0:"count"})

plt.figure(figsize = (13,6));
ax = sns.lineplot(x = 'first_holder_date', y = 'count', data = temp_df);
ax.set_title("Daily Activies");

There is a significant spike in customers after 2010. There seems to be an upward trand and seasonality in number of customers.

In [ ]:
temp_df = df.groupby('first_holder_date_year').size().reset_index().rename(columns = {0:"count"})

plt.figure(figsize = (13,6));
ax = sns.lineplot(x = 'first_holder_date_year', y = 'count', data = temp_df);
ax.set_xticks(np.arange(1995, 2016, 1));
ax.set_title("Activities Per Year");
ax.set_xlabel("Year");

Years between 2011 and 2014 saw the highest number of applicants compared to other years

In [ ]:
temp_df = df.groupby('first_holder_date_month').size().reset_index().rename(columns = {0:"count"})

plt.figure(figsize = (13,6));
ax = sns.lineplot(x = 'first_holder_date_month', y = 'count', data = temp_df);
plt.xticks(np.arange(1, 13, 1), ["jan", "feb", "mar", "apr", "may", "jun", "jul",
                                 "aug", "sep", "oct", "nov", "dec"]);
ax.set_title("Activities by Month");
ax.set_xlabel("");

For all years, most customers join during the month of october.

In [ ]:
temp_df = df.groupby('first_holder_date_day').size().reset_index().rename(columns = {0:"count"})

plt.figure(figsize = (13,6));
ax = sns.lineplot(x = 'first_holder_date_day', y = 'count', data = temp_df);
plt.xticks(np.arange(0, 7, 1), ['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']);
ax.set_title("Activities by Week Days");
ax.set_xlabel("");

Monday sees the highest number of customers. Number of customers are lowest during the weekends.

28th to 32nd week in a year shows an increase in number of customers (july to august) followed by an increase again during week 40 (October).

In [ ]:
#Dropping `fetcha_alta` as all the important information has already been extracted.

df = df.drop('first_holder_date', axis = 1)
df

#### `new_cust_index`: New customer Index. 1 if the customer registered in the last 6 months.

In [ ]:
print(any(df['new_cust_index'].isna())) #No missing value
print()
df['new_cust_index']

In [ ]:
sns.countplot(df['new_cust_index']);

In [ ]:
df['new_cust_index'].value_counts()

#### `cust_seniority`: Customer seniority (in months)

In [ ]:
print(any(df['cust_seniority'].isna())) #No missing value
print()
df['cust_seniority']

In [ ]:
#converting to numerical

df['cust_seniority'] = df['cust_seniority'].astype('int64')

In [ ]:
df['cust_seniority'].describe()

In [ ]:
df.query("cust_seniority == -999999")

there are couple of observations with -999999 as value. This is clearly an error. Hence, these observations will be dropped.

In [ ]:
to_drop = df.query("cust_seniority == -999999").index

df = df.drop(index = to_drop, axis = 0).reset_index(drop = True)

In [ ]:
df['cust_seniority'].describe()

In [ ]:
fig, ax = plt.subplots(2,1, figsize = (12,10));

sns.histplot(df['cust_seniority'], kde = True, ax = ax[0]);
sns.boxplot(x = 'cust_seniority', data = df, ax = ax[1]);

plt.suptitle("Customer Seniority Distribution");

There are no outliers for this variable.

#### `indrel`: 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)

In [ ]:
print(any(df['indrel'].isna())) #No missing value
print()
df['indrel'].value_counts()

In [ ]:
df['indrel'] = df['indrel'].replace(99.0, 0.0)
df['indrel'].value_counts()

#### **cust_type** : Customer type at the beginning of the month: 1 (First/Primary customer), 2 (co-owner), P (Potential), 3 (former primary), 4(former co-owner)

In [ ]:
print(any(df['cust_type'].isna()))

df['cust_type'].value_counts()

Dropping co-owner category

In [ ]:
df = df.drop(index = df.query("cust_type == 2.0").index, axis = 0).reset_index(drop = True)

#### `cust_rel_time`: Customer relation type at the beginning of the month, A (active), I (inactive), P (former customer),R (Potential)

In [ ]:
print(any(df['cust_rel_time'].isna()))

df['cust_rel_time'].value_counts()

"P" refers to former customers. Since the bank is only interested in current customers, I will drop observations having `tripel_1mes` has "P".

In [ ]:
to_drop = df.query("cust_rel_time == 'P'").index

df = df.drop(index = to_drop, axis = 0).reset_index(drop = True)
print(df.shape)

#### `cust_res_index`: Residence index (S (Yes) or N (No) if the residence country is the same than the bank country)

In [ ]:
print(any(df['cust_res_index'].isna()))

df['cust_res_index'].value_counts()

In [ ]:
df['cust_res_index'] = df['cust_res_index'].map({"S" : 1, "N" : 0})
df['cust_res_index'].value_counts()

#### `is_foreign`: Foreigner index (S (Yes) or N (No) if the customer's birth country is different than the bank country)

In [ ]:
print(any(df['is_foreign'].isna()))

df['is_foreign'].value_counts()

In [ ]:
df['is_foreign'] = df['is_foreign'].map({"S" : 1, "N" : 0})
df['is_foreign'].value_counts()

#### `channel_to_join`: channel used by the customer to join

In [ ]:
pd.set_option('display.max_columns', None)
print(df['channel_to_join'].isna().sum())
df[df['channel_to_join'].isna()]

There are 26 observations with missing values.

In [ ]:
df.query('cust_residence == "ES"')['channel_to_join'].value_counts(normalize = True)

In [ ]:
df[df['channel_to_join'].isna()]['cust_rel_time'].value_counts()

In [ ]:
df.query('cust_rel_time == "A"')['channel_to_join'].value_counts()

All of the observations with missing values are from those customers from Spain. Therefore, I will impute this values with the mode of those customers from Spain.

In [ ]:
val = df.query("cust_rel_time=='A' & cust_residence=='ES' & name_province=='MADRID'")['channel_to_join'].mode()[0]

df['channel_to_join'] = df['channel_to_join'].fillna(val)

#### `deceased_index`: Deceased index. N/S

In [ ]:
print(any(df['deceased_index'].isna()))

df['deceased_index'].value_counts()

In [ ]:
df['deceased_index'] = df['deceased_index'].map({"S" : 1, "N" : 0})
df['deceased_index'].value_counts()

#### `addres_type`: Address type. 1, primary address

In [ ]:
print(any(df['addres_type'].isna()))

df['addres_type'].value_counts()

Since there is only one category for this variable, I will drop this.

In [ ]:
df = df.drop('addres_type', axis = 1)
print(df.shape)

#### `cod_prov` & `name_province`: Province code (customer's address) / Province name

In [ ]:
df['cod_prov'].value_counts()

In [ ]:
df['name_province'].value_counts()

Both of these variables are same since one `name_province` is the name of the province and `cod_prov` is the number assigned to the province. Hence I will remove `cod_prov`.

In [ ]:
df = df.drop('cod_prov', axis = 1)
df.shape

In [ ]:
print(df['name_province'].isna().sum())
df[df['name_province'].isna()]

There are about 3k missing values for this column. Most of the customers are not from Spain. Therefore, I will impute this column with the mode of the category of customers outside of Spain.

In [ ]:
df[df['name_province'].isna()]['cust_residence'].value_counts()

In [ ]:
df.query('cust_residence != "ES"')['name_province'].value_counts()

In [ ]:
#Imputing for thise customers from Spain.
(df[df['name_province'].isna()]['cust_residence'] == "ES").sum()

In [ ]:
%%time

# Imputing for those customers outside of Spain
for i in df[df['name_province'].isna()].index:
    if df['cust_residence'][i] != "ES":
        df['name_province'][i] = "Foreign"
    else:
        df['name_province'][i] = "MADRID"

#### `activity_index`: Activity index (1, active customer; 0, inactive customer)

In [ ]:
print(any(df['activity_index'].isna()))

df['activity_index'].value_counts()

#### `household_income`: Gross income of the household

In [ ]:
df['household_income'].isna().sum()

Around 100k+ missing values.

In [ ]:
fig, ax = plt.subplots(2,1, figsize = (13,8), sharex = True);

sns.histplot(df['household_income'], kde = True, ax = ax[0]);
sns.boxplot(x = 'household_income', data = df, ax = ax[1]);

plt.suptitle("Income Distribution of Customers");

In [ ]:
df['household_income'].describe()

We can see that the distribution is extremely skewed. Only fewer households earns income higher than 100k. Therefore imputing this variable with mean would not be the right approach.

In [ ]:
temp_df = df.groupby('name_province').agg({'household_income' : 'median'}).sort_values('household_income').reset_index()

plt.figure(figsize = (8, 20));
sns.barplot(x = 'household_income', y = 'name_province', data = temp_df, palette = "viridis");
plt.xlabel("Median Household Income");

We can see certain cities have higher median income compared to other cities. Therefore, I will impute this variable by filtering by province and then taking the median income of that province.

In [ ]:
%%time
for city in df['name_province'].unique():
    if city == "ALAVA":
        df.loc[(df['name_province'] == f"{city}") & (df['household_income'].isna()), "household_income"] = \
        df['household_income'].median()
    else:
        df.loc[(df['name_province'] == f"{city}") & (df['household_income'].isna()), "household_income"] = \
        df.query(f'name_province == "{city}"')['household_income'].median()

In [ ]:
df.isna().sum()

In [ ]:
fig, ax = plt.subplots(2,1, figsize = (13,8), sharex = True);

sns.histplot(df['household_income'], kde = True, ax = ax[0]);
sns.boxplot(x = 'household_income', data = df, ax = ax[1]);

plt.suptitle("Income Distribution of Customers");

In [ ]:
df['household_income'].describe()

As seen from above plot, the distribution is highly skewed. I will check whether applying feature scaling technique such as QuantileTransformer will help with the distribution.

In [ ]:
from sklearn.preprocessing import QuantileTransformer

qt = QuantileTransformer(output_distribution = 'normal')

scaled = qt.fit_transform(df[['household_income']])

In [ ]:
fig, ax = plt.subplots(1,2, figsize = (10,6))

sns.histplot(scaled, kde = True, ax = ax[0]).set_title("Household Income");
sns.boxplot(scaled, ax = ax[1]).set_title("Household Income");

In [ ]:
qt = QuantileTransformer(output_distribution = 'normal')

qt_scaled = qt.fit_transform(df[['age', 'cust_seniority']])

fig, ax = plt.subplots(1,2, figsize = (13,6))

sns.histplot(qt_scaled[:,0], kde = True, ax = ax[0]).set_title("age");
sns.histplot(qt_scaled[:,1], kde = True, ax = ax[1]).set_title("cust_seniority");

We can see from the above plots that quantile transformer is good at transforming all of three variables to nearly normal distribution. Hence, for feature scaling, QuantileTransformer will be used.

In [ ]:
df.shape

### Bank Products

In [ ]:
prod_cols = ['saving_acc', 'guarantees', 'current_acc', 'derivada_acc', 
             'payroll_acc', 'junior_acc', 'mass_particular_acc', 'particular_acc',
             'particular_plus_acc', 'short_term_deposit', 'medium_term_deposits', 'long_term_deposits', 
             'e_account', 'funds', 'mortgage', 'pensions1', 
             'loans', 'taxes', 'credit_card', 'securities',
             'home_account', 'payroll', 'pensions2', 'direct_debit']

labels = [
    "Saving Account", "Guarantees", "Current Accounts", "Derivada Account", "Payroll Account",
    "Junior Account", "MÃ¡s particular Account", "particular Account", "particular Plus Account",
    "Short-term deposits", "Medium-term deposits", "Long-term deposits", "e-account", 
    "Funds", "Mortgage", "Pensions", "Loans", "Taxes", "Credit Card", "Securities", 
    "Home Account", "Payroll", "Pensions", "Direct Debit"
]

In [ ]:
for col, name  in zip(prod_cols, labels):
    print(col, ":", name)
    print("-" * 50)
    print(f'Missing Values: {df[col].isna().sum()}')
    print("Value Counts")
    print(df[col].value_counts())
    print()

Only 2 columns featuring certain bank products have missing values. I will impute these with the mode again.

In [ ]:
df['pensions1']

In [ ]:
df['pensions2']

In [ ]:
compare_idx = df[df['pensions2'].notna()].index
print(len(compare_idx))

In [ ]:
(df.loc[compare_idx, 'pensions1'] == df.loc[df['pensions2'].notna(), 'pensions2']).sum()

Both of these accounts are different.

In [ ]:
df['payroll'] = df['payroll'].fillna(df['payroll'].mode()[0])
df['pensions2'] = df['pensions2'].fillna(df['pensions2'].mode()[0])

In [ ]:
df.isna().sum()

### All missing values has been taken care of!

In [ ]:
product_df = df.groupby('age').agg({col : 'sum' for col in prod_cols})
product_df

In [ ]:
product_df.plot(kind='bar', stacked=True, fontsize=14, figsize=[16,8], colormap='rainbow', 
               edgecolor = "black")
plt.title('Distribution of products among customers by age', fontsize=20, color='black') 
plt.xlabel('Products', fontsize=17, color='black') 
plt.ylabel('Age', fontsize=17, color='black') 
# plt.ticklabel_format(style = 'plain')
plt.legend(labels = labels, prop={'size':15}, loc=1, bbox_to_anchor=(1.0, -0.1), ncol = 5);

Above graph referred from [here](https://medium.com/@ravitee/santander-product-recommendation-ee4122d15072)

In [ ]:
#Proportion of products by age of customers
prod_prop = product_df.div(product_df.sum(axis = 1), axis = 0)

In [ ]:
prod_prop.plot(kind = 'barh', stacked = True, fontsize=14, figsize=[12,35], colormap='Set1', 
               edgecolor = "black");

plt.title('Proportion of products among customers by age', fontsize=20, color='black') ;
plt.xlabel('Age', fontsize=17, color='black') ;
plt.ylabel('Product Proportion', fontsize=17, color='black') ;
plt.legend(labels = labels, prop={'size':15}, loc=1, bbox_to_anchor=(0.95, -0.07), ncol = 3);

Customer with age above 25 opt for more products from the bank.

The above clearly shows some customers hold multiple accounts. A new variable will be created that sums all the products together to see the total number of accounts a customer holds.

In [ ]:
df['total_accounts'] =  df.iloc[:, 16:-4].sum(axis = 1)

In [ ]:
df['total_accounts'].value_counts()

In [ ]:
plt.figure(figsize = (10,6))
sns.countplot(y = 'total_accounts', data = df);
plt.title("Count of Number of Accounts owned by Customers");

Majority of the customers only hold a single account. But there are considerable other customers holding multiple accounts.

In [ ]:
df.duplicated().sum()

There are almost 13K rows with same attributes. I will create a new column that will contain the number of duplicates for rows having the same attributes, followed by dropping all duplicate observations. This column can potentially be used as weights for those observations having same attributes.

In [ ]:
df['dup_rows_count'] = df.groupby(df.columns.to_list())['emp_index'].transform("size")

In [ ]:
plt.figure(figsize = (10,6))
sns.countplot(y = 'dup_rows_count', data = df.query("dup_rows_count > 1"));
plt.title("Count of Number of rows with same attributes");

In [ ]:
df = df.drop_duplicates().reset_index(drop = True)

In [ ]:
df.duplicated().sum()

In [ ]:
any(df.isna().sum())

#### Categorical Encoding

There are some columns with high cardinality, having more than 100 categories. In order to reduce the number of categories, I will group them by similarity.

In [ ]:
len(df['cust_residence'].unique())

In [ ]:
df['cust_residence'].unique()

There are 113 countries. I will combine some categories by continent. Only ES will be kept separate.

In [ ]:
#importing country by continent data

url = "https://pkgstore.datahub.io/JohnSnowLabs/country-and-continent-codes-list/country-and-continent-codes-list-csv_csv/data/b7876b7f496677669644f3d1069d3121/country-and-continent-codes-list-csv_csv.csv"

country = pd.read_csv(url)
country

In [ ]:
#There are some missing values. This is actually because pandas sees "NA" and 
#considers these as missing values.

country[country['Two_Letter_Country_Code'].isna()]

In [ ]:
country['Two_Letter_Country_Code'] = country['Two_Letter_Country_Code'].fillna("NA")

In [ ]:
country['Two_Letter_Country_Code'].unique()

In [ ]:
country['Continent_Code'].unique()

In [ ]:
country[country['Continent_Code'].isna()]

All of these countries belong to the continent of North America

In [ ]:
country['Continent_Code'] = country['Continent_Code'].fillna("NA")

In [ ]:
country = country[['Continent_Code', 'Two_Letter_Country_Code']]
country

In [ ]:
np.setdiff1d(df['cust_residence'].unique(), country['Two_Letter_Country_Code'].unique())

In [ ]:
country.loc[country['Two_Letter_Country_Code'] == 'US', 'Continent_Code']

In [ ]:
%%time
for i in df['cust_residence'].unique():
    if i == "ES":
        pass
    else:
        df.loc[df['cust_residence'] == i, "cust_residence"] = \
        country.loc[country['Two_Letter_Country_Code'] == i, 'Continent_Code'].unique()[0]

In [ ]:
df

In [ ]:
df['cust_residence'].unique()

In [ ]:
#Renaming categories to avoid confusions in future

df['cust_residence'] = df['cust_residence'].map({
    'ES' : "Spain",
    'NA' : "NorthAmerica",
    'EU' : "Europe",
    'AS' : "Asia",
    'AF' : "Africa",
    'SA' : "SouthAmerica",
    'OC' : 'Oceania'
})

In [ ]:
df['cust_residence'].value_counts()

From 103 categories, we have grouped countries (except ES) by continent.

In [ ]:
#Checking for value counts for categorical variables

for col in df.select_dtypes(include = "object").columns:
    print(df[col].value_counts())
    print()

In [ ]:
df.isna().sum()

Now, the dataset is cleaned and ready for the next steps (EDA and modeling)

In [ ]:
#Saving a copy
df_preprocessed = df.copy()

Next, I will create a pipeline that will encode categorical columns to numerical data types. I will later pickle this encoder to be used for the next steps.

For columns that has more than 100 categories, I will encode those variables with CountFrequency encoder where each category will be encoded with its frequency within that column. 

For other categorical columns having lesser categories, I will apply one-hot encoding.

In [ ]:
#Encoding

from sklearn.pipeline import make_pipeline
from feature_engine.encoding import OneHotEncoder, CountFrequencyEncoder

col_transformer = make_pipeline(
    (OneHotEncoder(top_categories = 4, variables = ["emp_index"])),
    (OneHotEncoder(variables = ["cust_gender", "cust_rel_time", "cust_residence"])), 
    (CountFrequencyEncoder(encoding_method='frequency', variables=['name_province', 'channel_to_join']))
)

col_transformer

In [ ]:
%%time
df_transformed = col_transformer.fit_transform(df)

df_transformed

In [ ]:
fig, ax = plt.subplots(1,2, figsize = (13,6))

sns.histplot(df_transformed['channel_to_join'], kde = True, ax = ax[0]);
sns.histplot(df_transformed['name_province'], kde = True, ax = ax[1]);

In [ ]:
df_transformed.columns

In [ ]:
df_preprocessed.shape

In [ ]:
df_transformed.shape

In [ ]:
606227/1000000 * 100

In [ ]:
1000000 - 606227

In [ ]:
corr = df_transformed.corr()
select_corr = corr[abs(corr) > 0.5]

plt.figure(figsize = (15,15))
sns.heatmap(select_corr, annot = True, center = 0, fmt = ".1g", annot_kws={"fontsize":13, 
                                                                           "color" : "black"});

All missing values, duplicated values and outliers has been taken care of. From 1 million observations, almost 400K have been dropped. Through the techniques Joseph has employed, around 60% of data has been maintained.

In [ ]:
df_transformed

In [ ]:
df_preprocessed

### Saving preprocessed dataset and column transformer

In [ ]:
#Saving latest changes to a CSV file
# df_preprocessed.to_csv("df_preprocessed.csv", index = False)

In [ ]:
import pickle
pickle.dump(col_transformer, open('col_transformer.pkl','wb'))